.section-meta {
	padding-top: oGridGutter();
	position: relative;
	overflow: hidden;
	@include oGridRespondTo(M) {
		padding-top: oGridGutter(M);
	}
}

.section-meta__link--myft-logo {
	border-bottom: 0;
}

.section-meta__date {
	@include oTypographySansBold(m);

	&:nth-child(n+2) {
		margin-top: 10px;
	}
}

.section-meta__title {
	@include oTypographySerifDisplayBold(s);
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 10px 0 0;
	color: getColor('cold-3');
	&--sans-serif {
		@include oTypographySansDataBold(l);
		font-size: 20px;
	}
	&:after {
		content: '';
		position: absolute;
		margin-left: 10px;
		height: 1px;
		border-bottom: 1px solid getColor('warm-3');
		top: 50%;
		margin-top: 3px;
		width: 100%;
	}
}

.section-meta__myft-icon {
	@include nextIcon('myft-bolder', getColor('black'), 60);
	height: 28px;
	text-indent: -100px;
}
