.section-meta {
	margin-top: oGridGutter() * 2;
	position: relative;

	@include oGridRespondTo(M) {
		margin-top: oGridGutter(M) * 2;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		height: 1px;
		width: 100%;
		background-color: oColorsGetColorFor(card, border);
	}
}

.section-meta__title {
	@include oTypographySerifDisplayBold(m);
	@include oColorsFor(page, background);
	display: inline-block;
	margin: 0;
	padding: 0 oGridGutter() 0 0;
	color: getColor('cold-3');
	position: relative;
	z-index: 1;

	@include oGridRespondTo(M) {
		padding-right: oGridGutter(M);
	}

	@include oGridRespondTo(M) {
		@include oTypographySerifDisplayBoldSize(l);
	}
}

.section-meta__link--myft-logo {
	display: inline-block;
	border-bottom: 0;
}

.section-meta__myft-icon {
	@include nextIcon('myft-bolder', getColor('black'), 67);
	width: 52px;
	height: 24px;
	text-indent: -9999px;

	@include oGridRespondTo(L) {
		width: 67px;
		height: 31px;
	}
}
